@charset "utf-8";

body {
    background-image: url("../images/cascade_mountains-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #344e5f;
    font-family: "Lora", serif;
}

header, section, aside, article, footer, figure {
    display: block;
}

header {
    background-color: #86E2F9;
    color: #69879F;
    padding-top: 2px;
}

header h1 {
    margin-left: 15px;
    font-size: 52px;
    color: #00AAF5;
}

header h2 {
    margin-left: 15px;
    font-size: 20px;
    padding-bottom: 25px;
    color: #31654C;
}

header nav ul {
    text-align: center;
    list-style: none;
    background-color: #375978;
    margin: 0 0 15px 0;
    padding: 0;
}

header nav li {
    display: inline-block;
}

header nav a {
    padding: 9px;
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: #61758D;
    color: #84A6C0;
}

header nav a:hover {
    background-color: #438A68;
}

footer {
    color: white;
    padding: 9px;
    background-color: rgba(68, 165, 181, 0.8);
    clear: both;
}

footer p {
    font-size: 10px;
}

.container {
    width: 960px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    overflow: hidden;
}

.content {
    padding: 10px;
    width: 550px;
    float: left;
}

.sidebar {
    float: right;
    width: 355px;
    padding: 5px 10px;
    background-color: #438A68;
    color: #D4EEE2;
    box-sizing: border-box;
}

.sidebar h3 {
    color: #FFFFFF;
    font-size: 22px;
}

.sidebar p {
    color: #D4EEE2;
    font-size: 16px;
}

.sidebar a {
    color: #A8DFC9;
    font-size: 16px;
}

.sidebar a:hover {
    color: #FFFFFF;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 10px;
    color: #555;
}

.image-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 4px;
}

.image-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 4px;
    margin-left: 0;
}

h1, h2, h3 {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #133551;
    font-size: 28px;
}

p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 18px;
    color: #2C2C2C;
}