body,
main,
article,
section,
header,
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8em;
    font-family: "Revalia", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(59, 58, 66, 0.973);
    color: rgb(233, 229, 225);
    padding: 100px;
}

h1,
h2,
h3 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-size: 3.0em;
}

nav a {
    display: inline-block;
    text-align: left;
    color: rgba(3, 58, 109, 0.027);
    text-decoration: none;
    border: 1px solid rgb(245, 248, 248);
    padding: 9px 14px;
    text-shadow: #eff8be 1px 1px 2px;
    font-size: 1.2em;
}

nav a:hover {
    color: rgb(187, 53, 240);
    background-color: rgb(169, 255, 233);
}

section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
}

.em {
    background-image: url(../images/fluid02.jpg);
    border: 1em solid #f00366;

}

.rem {
    background-image: url(../images/fluid03.jpg);
    border: 0.5rem dotted rgb(81, 243, 16);

}

.percent {
    background-image: url(../images/fluid04.jpg);
}

.percent p {
    width: 75%;

}

.box {
    background-image: url(../images/fluid05.jpg);
    box-sizing: border-box;
    border: 3px solid rgb(222, 61, 236);
}

.vw {
    background-image: url(../images/fluid06.jpg);
    border: 1vw dashed rgb(252, 8, 8);
}

.hero {
    background-image: url(../images/fluid01.jpg);
    border-top-right-radius: 2em;
    padding: 5px;
}

.hero p {
    width: 50%;
    font-size: 2.0em;
}

.hero img {
    width: 100%;
    opacity: 0.95;
}