.site-nav {
    background-color: rgba(59, 58, 66, 0.973);
    padding: 0.5em 1em;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    margin: 4px;
}

.site-nav a {
    display: inline-block;
    text-decoration: none;
    color: rgb(233, 229, 225);
    padding: 8px 14px;
    border: 1px solid rgb(245, 248, 248);
    border-radius: 4px;
    font-family: "Revalia", sans-serif;
    transition: background 0.3s;
}

.site-nav a:hover {
    color: rgb(187, 53, 240);
    background-color: rgb(169, 255, 233);
}
