@charset "UTF-8";
/* CSS Document */

body {
	background-color: #232a53a4;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.stew-content {
	background-color: #d4ceb0;
	font-size: 18px;
	width: 700px;
	padding: 10px;
	margin: auto;
}

h1,
h2,
h3 {
	color: #5e3b04;
}

p {
	font-size: 8px;
}

footer {
	background-color: #805E28;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
	padding-left: 5px;
}